<span class="userLabel">User : {{username}}</span>
 <div class="row">
  <div class="col-lg-12 tableCss">
    <span class="heading1">Shopping Centres</span>
<!--  <mat-table [dataSource]="dataSource" matSort>

          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header > {{column}} </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="agreementNum"> {{row[column] || ''}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table> -->
     <!--  </div></div> -->
 <mat-table [dataSource]="dataSource" matSort >

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Id </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row["id"]}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Name </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row["name"]}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header > address </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">{{row["address"]}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header >created_at</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="created_at">{{row["created_at"]|date:'dd/MM/yyyy, h:mm a'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="created_by">
            <mat-header-cell *matHeaderCellDef mat-sort-header > created_by </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row["created_by"]}}
            </mat-cell>
          </ng-container>

           <ng-container matColumnDef="updated_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header >updated_at</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="updated_at">{{row["updated_at"]|date:'dd/MM/yyyy, h:mm a'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="updated_by">
            <mat-header-cell *matHeaderCellDef mat-sort-header > updated_by </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row["updated_by"]}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="View Assets">
            <mat-header-cell *matHeaderCellDef mat-sort-header > View Assets </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> <button mat-raised-button color="primary" (click)='openDialog2(row)' class="mr-1">VIEW</button> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Action </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> <button mat-raised-button color="primary" (click)='openDialog(row)' class="mr-1">EDIT</button> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div></div>